<!--
  Generated template for the GroupTaskCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Task</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (ngSubmit)="createTask()">
    <ion-item>
      <ion-label>Title:</ion-label>
      <ion-input type="text" required [(ngModel)]="tTitle" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Reminder:</ion-label>
      <ion-input type="text" required [(ngModel)]="tReminder" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" required [(ngModel)]="tDate" [ngModelOptions]="{standalone: true}"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Start Time:</ion-label>
      <ion-datetime displayFormat="h:mm A" required pickerFormat="h mm A" [(ngModel)]="tStartTime" [ngModelOptions]="{standalone: true}"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Time:</ion-label>
      <ion-datetime displayFormat="h:mm A" required pickerFormat="h mm A" [(ngModel)]="tEndTime" [ngModelOptions]="{standalone: true}"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Note:</ion-label>
      <ion-input type="text" required [(ngModel)]="tNote" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Location:</ion-label>
      <ion-icon ios="ios-map" md="md-map" item-end (click)="openGroupMap()"></ion-icon>
      <ion-input type="text" required [(ngModel)]="tLocation" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <button ion-button block type="submit">Create</button>
  </form>
</ion-content>
