<ion-header>
  <ion-navbar>
    <ion-title>
      Login to GroupConn
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <ion-card>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <ion-list no-lines>
    
          <ion-item>
            <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
          </ion-item>
    
      </ion-list>

      <ion-row>

        <ion-col>
          <button ion-button type="submit" block small [disabled]="!loginForm.valid">
            <div>Login</div>
          </button>
        </ion-col>

        <ion-col>
            <button ion-button icon-left block small (click)="googleLogin()" color="danger">
              <ion-icon name="logo-googleplus"></ion-icon>
              <div>Login</div>
            </button>
        </ion-col>

      </ion-row>
    </form>
  </ion-card>

  <div padding>
    <button ion-button block outline [navPush]="registerPage">
      <div>Register New Account</div>
    </button>
  
    <button ion-button block outline (click)="forgotPassword()">
      Forgot password?
    </button>
  </div>

</ion-content>
