<ion-header>
  <ion-navbar>
    <ion-title>Find location</ion-title>
  </ion-navbar>
 </ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="autocomplete.query" 
    [showCancelButton]="true" (ionInput)="updateSearch()" 
    (ionCancel)="dismiss()"></ion-searchbar>
    <ion-list>
      <ion-item tappable *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
        {{ item }}
      </ion-item>
    </ion-list>
  <div #map id="map"></div>
</ion-content>


