<ion-header>
  <ion-navbar>
    <ion-title>
      Register New Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

    <ion-card>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <ion-list no-lines>

            <ion-item>
              <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input formControlName="passwordconfirm" type="password" placeholder="Confirm Password"></ion-input>
            </ion-item>              
            
        </ion-list>

        <ion-row>

          <ion-col>
            <button ion-button type="submit" block small [disabled]="!registerForm.valid">
              <div>Register</div>
            </button>
          </ion-col>

          <ion-col>
              <button ion-button icon-right block clear small navPop>
                <div>Back to Login</div>
              </button>
          </ion-col>

        </ion-row>

      </form>
      
    </ion-card>

</ion-content>
