<ion-tabs>
	<ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
	<ion-tab [root]="tab2Root" tabTitle="Tasks" tabIcon="calendar"></ion-tab>
	<ion-tab [root]="tab3Root" tabTitle="Groups" tabIcon="people"></ion-tab>
	<ion-tab [root]="tab4Root" tabTitle="Friends" tabIcon="contacts"></ion-tab>
	<ion-tab [root]="tab5Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
</ion-tabs>
