<ion-header>
  <ion-navbar>
    <ion-title>
      Friend Requests
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let req of userRequests" (click)="addFriend(req)">
      <ion-avatar item-start>
        <img src="{{ req.user.avatarURL }}" />
      </ion-avatar>
      {{ req.user.username }}
    </button>
  </ion-list>
</ion-content>
