<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngIf="ap.currentUser">
        <div id="test">
            <img id="profilePicture" src="{{ ap.currentUser.avatarURL }}" />
            <h2>Username: {{ ap.currentUser.username }}</h2>
            <h2>Email: {{ ap.currentUser.email }}</h2>
            
            
        </div>
        
      
        
          
       
      </ion-card>
</ion-content>
