page-profile {
    #test{
        padding:10px;
        text-align: center;

        
    }
    #profilePicture{
        width:200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
