<!--
  Generated template for the JoinGroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>join-group</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

    <ion-searchbar (ionInput)="searchForJoinGroups($event)"></ion-searchbar>

    <ion-list>
        <button ion-item *ngFor="let joinGroup of filteredJoinGroups" (click)="joinTheGroup(joinGroup)">
          <ion-avatar item-start>
            <img src="{{ joinGroup.data().avatarURL }}">
          </ion-avatar>
          {{ joinGroup.data().name }}
        </button>
    </ion-list>

</ion-content>
