<ion-header>
  <ion-navbar>
    <ion-title>
      Add Friends
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionInput)="searchForUser($event)"></ion-searchbar>

  <ion-list>
    <ion-item no-lines *ngFor="let addFriend of usersFiltered">
      <button ion-item *ngIf="addFriend.data().username !== userName" (click)="sendRequest(addFriend.id, addFriend.data().username)">
        <ion-avatar item-start>
          <img src="{{ addFriend.data().avatarURL }}">
        </ion-avatar>
        {{ addFriend.data().username }}
      </button>
      <button ion-item *ngIf="addFriend.data().username === userName" [disabled]="true">
          <ion-avatar item-start>
            <img src="{{ addFriend.data().avatarURL }}">
          </ion-avatar>
          {{ addFriend.data().username }}
        </button>
    </ion-item>
  </ion-list>
</ion-content>
