<ion-header>
    <ion-navbar>
        <ion-title>
            GroupConn
        </ion-title>

        <ion-buttons end>
          <button ion-button icon-only (click)="presentActionSheet()">
            <ion-icon name="cog"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- User welcome card -->
    <ion-card *ngIf="ap.currentUser">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ ap.currentUser.avatarURL }}" />
        </ion-avatar>
        <h2>Welcome, {{ ap.currentUser.username }}!</h2>
        
      </ion-item>
    </ion-card>
  
    <!-- Agenda -->
    <ion-card>
      <ion-item>
        <ion-icon name="navigate" item-start></ion-icon>
        Agenda
      </ion-item>
  
      <ion-card-content>
        <p>
          1 upcoming reminder today: "Meeting at 12pm"
        </p>
      </ion-card-content>
  
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small full>
            <ion-icon name="calendar"></ion-icon>
            <div>5 events</div>
          </button>
        </ion-col>
  
        <ion-col>
          <button ion-button icon-left clear small full>
            <ion-icon name="bookmark"></ion-icon>
            <div>3 reminders</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  
    <!-- Notifications -->
    <ion-card>
  
      <ion-card-content>
        <p>
          No new notifications.
        </p>
      </ion-card-content>
    </ion-card>
    
  </ion-content>
