<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="joinGroupPrompt()">
        <div>Join</div>
      </button>
    </ion-buttons>

    <ion-title>Groups</ion-title>

    <ion-buttons end>
      <button ion-button (click)="createGroupPrompt()">
        <div>Create</div>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-searchbar (ionInput)="searchForGroups($event)"></ion-searchbar>

    <ion-list>
      <ion-card *ngFor="let group of groupsFiltered">
        <ion-item-sliding>

          <button ion-item (click)="getGroupsInfoPage(group.usersGroups, group.gid)">
            <ion-avatar item-start>
              <img src="{{group.usersGroups.avatarURL}}">
            </ion-avatar>
            {{group.usersGroups.name}}
          </button>
            
          <ion-item-options side="right">
            <button ion-button (click)="openGroupChatPanel(group.usersGroups, group.gid)">Group Chat</button>
          </ion-item-options>

        </ion-item-sliding>
      </ion-card> 
    </ion-list>

</ion-content>
