<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="showFriendRequests()">
        <div>Requests</div>
      </button>
    </ion-buttons>

    <ion-title>Friends</ion-title>

    <ion-buttons end>
      <button ion-button (click)="addFriendPrompt()">
        <div>Add</div>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="searchName($event)"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let friend of FriendsFiltered">

      
        <button ion-item (click)="getFriendsInfoPage(friend.usersFriends)">
          <ion-avatar item-start>
          <img src="{{friend.usersFriends.avatarURL}}">
          </ion-avatar>
          <h2>{{friend.usersFriends.username}}</h2>
        </button>
      

      <ion-item-options side="right">
        <button ion-button (click)="openChatPanel(friend.usersFriends)">Chat</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
