<ion-header>

  <ion-navbar>
    <ion-title>{{taskInfo.taskTitle}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    
      <ion-item>
        <ion-label fixed>Title</ion-label>
        <ion-input type="text" name="taskTitle" [(ngModel)]="taskTitle" required>{{taskInfo.taskTitle}}</ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed name="taskReminder" ngDefaultControl>Reminder</ion-label>
        <ion-toggle [(ngModel)]="taskReminder" enabled checked={{taskInfo.taskReminder}} (ionChange)="changeToggle()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label fixed>Date</ion-label>
        <ion-icon ios="ios-calendar" md="md-calendar"item-end></ion-icon>
        <ion-datetime displayFormat="MM/DD/YYYY" min="2017" max="2029-10-31" name="taskDate" [(ngModel)]="taskDate" placeholder={{taskInfo.taskDate}}></ion-datetime> 
      </ion-item>

      <ion-item>
        <ion-label fixed>Start Time</ion-label>
        <ion-icon ios="ios-clock" md="md-clock" item-end></ion-icon>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" name="taskStartTime" [(ngModel)]="taskStartTime" placeholder={{taskInfo.taskStartTime}}></ion-datetime>   
      </ion-item>

      <ion-item>
        <ion-label fixed>End Time</ion-label>
        <ion-icon ios="ios-clock" md="md-clock" item-end></ion-icon>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" name="taskEndTime" [(ngModel)]="taskEndTime" placeholder={{taskInfo.taskEndTime}}></ion-datetime> 
      </ion-item>

      <ion-item>
        <ion-label fixed ngDefaultControl [(ngModel)]="taskLocation">Location</ion-label>
        <ion-input type="text" [(ngModel)]="address" name="taskLocation" placeholder={{taskInfo.taskLocation}}></ion-input>
        <button ion-button clear item-end (click)="getLocation()">
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-item>

      <ion-item>
        <ion-label fixed ngDefaultControl>Add Note</ion-label>
        <ion-input type="text" name="taskNote" [(ngModel)]="taskNote" placeholder={{taskInfo.taskNote}}></ion-input>
      </ion-item>
    
  </ion-list> 

  <button ion-button block type="submit" (click)="updateTask()">Save Changes</button>    

</ion-content>
