  <ion-header>

    <ion-navbar>

      <ion-buttons start>
        <button ion-button navPop>
          <div>Cancel</div>
        </button>
      </ion-buttons>

      <ion-title>Update Profile</ion-title>

      <ion-buttons end>
        <button ion-button (click)="updateProfile()" *ngIf="ap.currentUser">
          <div>Save</div>
        </button>
      </ion-buttons>

    </ion-navbar>

  </ion-header>

  <ion-content scroll="false" padding>
    <form [formGroup]="profileForm" *ngIf="ap.currentUser">
      Set up your profile by adding a new avatar or changing your display name.

      <ion-input type="hidden" formControlName="avatarURL" value="{{ ap.currentUser.avatarURL }}"></ion-input>

      <ion-card>

        <ion-card-header>
            <ion-label stacked>Your Username</ion-label>
          <ion-input class="info" formControlName="username" type="text" placeholder="Username" value="{{ ap.currentUser.username }}"></ion-input>
        </ion-card-header>

        <ion-list>

          <ion-item>
            <p>Your Profile Picture</p>
            <img id="profilePicture" [src]="profileForm.controls.avatarURL.value" />
          </ion-item>

        </ion-list>

        <ion-row>
          <ion-col>
            <button ion-button block small (click)="selectPicture()">
              <div>Select Picture</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button block small (click)="takePicture()">
              <div>Take Picture</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button block small (click)="setDefaultAvatar()">
              <div>Set Default</div>
            </button>
          </ion-col>
        </ion-row>
        
      </ion-card>
    </form>

  </ion-content>
