<ion-header>
  <ion-navbar>

    <ion-title>Chatting With {{friendsChatInfo.username}}...</ion-title>

    <ion-buttons end>
      <button ion-button (click)="closeChatModal()">
        <div>Close</div>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content #content>
    <ion-grid>
      <ion-row *ngFor="let chtMsgs of messages">
        <ion-col col-9 *ngIf="chtMsgs.from_uid !== currAuthid">
          <div class="timeDateInfo">{{chtMsgs.timestamp}}</div> 
          <ion-item no-lines *ngIf="chtMsgs.type === typeMessage" class="message" [ngClass]="{'myMessage': chtMsgs.from_uid === currAuthid, 'otherMessage': chtMsgs.from_uid !== currAuthid}">
            <span>{{chtMsgs.data}}</span>
          </ion-item>
          <ion-item no-lines *ngIf="chtMsgs.type === typeTask" class="message" [ngClass]="{'myMessage': chtMsgs.from_uid === currAuthid, 'otherMessage': chtMsgs.from_uid !== currAuthid}">
            <span>Task Here</span>
          </ion-item> 
        </ion-col>

        <ion-col offset-3 col-9 *ngIf="chtMsgs.from_uid === currAuthid">
          <div class="timeDateInfo">{{chtMsgs.timestamp}}</div>
          <ion-item no-lines *ngIf="chtMsgs.type === typeMessage" class="message" [ngClass]="{'myMessage': chtMsgs.from_uid === currAuthid, 'otherMessage': chtMsgs.from_uid !== currAuthid}">
            <span>{{chtMsgs.data}}</span> 
          </ion-item> 
          <ion-item no-lines *ngIf="chtMsgs.type === typeTask" class="message" [ngClass]="{'myMessage': chtMsgs.from_uid === currAuthid, 'otherMessage': chtMsgs.from_uid !== currAuthid}">
            <span>Task Here</span>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="msgButtonArea">
      <ion-col col-9>
        <ion-item no-lines>
            <ion-textarea [(ngModel)]="msgToSend" placeholder="Type A Message..."></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col col-3>
          <button ion-button Full (click)="sendMessage()">Send Message</button>
          <ion-item>
            <ion-label>Tasks</ion-label>
            <ion-select [(ngModel)]="task">
              <ion-option *ngFor="let task of usersTasks" [value]="task.taskTid">{{task.usersTasks.taskTitle}}</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button Full (click)="sendTask(task)">Send Task</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
