page-group-chat-modal {

    .message {
        padding: 10px !important;
        transition: all 250ms !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
    }

    .myMessage {
        background: rgb(114, 104, 255) !important;
        color: #000 !important;
    }

    .otherMessage {
        background: #afafaf !important;
        color: #000 !important;
    }

    .timeDateInfo {
        color: #4b4b4b !important;
        float: right !important;
        font-size: small !important;
    }

    .msgButtonArea {
        background-color: #fff;
    }

    .lineBreak{
        overflow: inherit ;
        text-overflow: inherit ;
        white-space: normal;
      }
}
