<!--
  Generated template for the GroupChatModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

      <ion-title>Chatting With {{groupsChatInfo.name}}...</ion-title>
      
          <ion-buttons end>
            <button ion-button (click)="closeGroupChatModal()">
              <div>Close</div>
            </button>
          </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row *ngFor="let chtMsgs of messages">
          <ion-col col-9 *ngIf="chtMsgs.from_uid !== currAuthid">
            <!-- <span>{{chtMsgs.usersName}}:</span> -->
            <span>Others:</span>
            <div class="timeDateInfo">{{chtMsgs.timestamp}}</div> 
            <ion-item no-lines class="message" [ngClass]="{'myMessage': chtMsgs.from_uid === currAuthid, 'otherMessage': chtMsgs.from_uid !== currAuthid}">
              <span>{{chtMsgs.data}}</span>
            </ion-item> 
          </ion-col>
  
          <ion-col offset-3 col-9 *ngIf="chtMsgs.from_uid === currAuthid">
            <!-- <span>{{chtMsgs.usersName}}:</span> -->
            <span>You:</span>
            <div class="timeDateInfo">{{chtMsgs.timestamp}}</div> 
            <ion-item no-lines class="message" [ngClass]="{'myMessage': chtMsgs.from_uid === currAuthid, 'otherMessage': chtMsgs.from_uid !== currAuthid}">
              <span>{{chtMsgs.data}}</span>
            </ion-item> 
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-row class="msgButtonArea">
        <ion-col col-9>
          <ion-item no-lines>
              <ion-textarea [(ngModel)]="msgToSend" placeholder="Type A Message..."></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col col-3>
            <button ion-button Full (click)="sendMessage()">Send</button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>