<ion-header>
  <ion-navbar>
    <ion-title>
      Friend Info
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div text-center>
    <h1>{{fInfo.username}}</h1>
    <img width="200" height="200" src="{{fInfo.avatarURL}}">
  </div>
  <br>
  <ion-list text-center>
    <ion-list-header>
      Current Groups Joined!
    </ion-list-header>
    <ion-item no-lines *ngFor="let groups of usersGroups">
        <ion-avatar item-start>
            <img src="{{groups.currUsersGroups.avatarURL}}">
        </ion-avatar>
        <ion-item>
            {{groups.currUsersGroups.name}}
        </ion-item>
    </ion-item>
  </ion-list>
  <br>
  <div text-center>
    <button ion-button (click)="presentChatModal(fInfo)">Chat with {{fInfo.username}}</button>
    <button ion-button (click)="removeFriend()">Remove {{fInfo.username}} From Contacts!</button>
  </div>
</ion-content>
