<!--
  Generated template for the GroupDisplayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>group-display</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <div text-center>
        <h1>{{gInfo.name}}</h1>
        <img width="200" height="200" src="{{gInfo.avatarURL}}">
        <br>
    </div>
    <br>
    <ion-list text-center>
        <ion-list-header>
            Invite To Group!
        </ion-list-header>
        <ion-item no-lines *ngFor="let friend of Friends">
            <button ion-item (click)="addToGroup(friend.usersFriends)">
                <ion-avatar item-start>
                    <img src="{{friend.usersFriends.avatarURL}}">
                </ion-avatar>
                <ion-item>
                    {{friend.usersFriends.username}}
                </ion-item>
            </button>
        </ion-item>
    </ion-list>
    <br>
    <ion-list text-center>
        <ion-list-header>
            Current Group Tasks!
        </ion-list-header>
        <ion-item-sliding *ngFor="let task of Tasks">
            <button ion-item (click)="viewUpdateGroupTasks(task.groupTid, task.groupsTasks)">
                <ion-icon ios="ios-clipboard" md="md-clipboard" item-start></ion-icon>
                {{task.groupsTasks.taskTitle}}
            </button>
            <ion-item-options side="right">
                <button ion-button (click)="deleteGroupTasks(task.groupTid)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>
        </ion-list>
        <br>
    <div text-center>
        <button ion-button (click)="presentGroupChatModal()">Group Chat</button>
        <button ion-button (click)="createGroupTasks()">Create A Task</button>
        <button ion-button (click)="leaveGroup()">Leave Group {{gInfo.name}}</button>
    </div>

</ion-content>
