<ion-header>
  <ion-navbar color="primary">
    <ion-title center>
      Tasks
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item>
          <ion-icon name="create" tappable></ion-icon> 
          {{ task.usersTasks.taskTitle }}
      </ion-item>
      <ion-item-options side="right">
          <button ion-button (click)="goToTaskDisplay(task.taskID, task.usersTasks)">
              <ion-icon name="md-create"></ion-icon>
              Edit
          </button>
          <button ion-button color="danger" (click)="deleteTask(task.taskID)">
              <ion-icon name="md-trash"></ion-icon>
              Delete
          </button>
        <!-- <ion-icon name="md-create" (click)="goToTaskDisplay(task.taskID, task.usersTasks)"></ion-icon>
        <ion-icon name="md-trash" (click)="deleteTask(task.taskID)"></ion-icon> -->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
      <button ion-fab mini [navPush]="addTask"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>

</ion-content>
