<ion-header>

  <ion-navbar color="primary">
    <ion-title>Create Task</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    
      <ion-item>
        <ion-label fixed>Title</ion-label>
        <ion-input type="text" name="taskTitle" [(ngModel)]="taskTitle" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed name="taskReminder" ngDefaultControl>Reminder</ion-label>
        <ion-toggle [(ngModel)]="taskReminder" enabled checked="true" (ionChange)="changeToggle()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label fixed>Date</ion-label>
        <ion-icon ios="ios-calendar" md="md-calendar"item-end></ion-icon>
        <ion-datetime displayFormat="MM/DD/YYYY" min="2017" max="2029-10-31" name="taskDate" [(ngModel)]="taskDate"></ion-datetime> 
      </ion-item>

      <ion-item>
        <ion-label fixed>Start Time</ion-label>
        <ion-icon ios="ios-clock" md="md-clock" item-end></ion-icon>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" name="taskStartTime" [(ngModel)]="taskStartTime"></ion-datetime>   
      </ion-item>
      <ion-item>
        <ion-label fixed>Start Real Time</ion-label>
        <ion-icon ios="ios-clock" md="md-clock" item-end></ion-icon>
        <ion-datetime displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD YYYY HH mm" min="2017" max="2029-10-31" name="taskStartTime" [(ngModel)]="taskStartTime"></ion-datetime>   
      </ion-item>

      <ion-item>
          <ion-label fixed>End Time</ion-label>
          <ion-icon ios="ios-clock" md="md-clock" item-end></ion-icon>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" name="taskEndTime" [(ngModel)]="taskEndTime"></ion-datetime> 
      </ion-item>
<!-- 
      <ion-item>
        <ion-label fixed name="taskRepeat" ngDefaultControl [(ngModel)]="taskRepeat" repeatTrue="1" repeatFalse="0">Repeat</ion-label>
      </ion-item> -->

      <ion-item>
        <ion-label fixed ngDefaultControl [(ngModel)]="taskLocation">Location</ion-label>
        <ion-input type="text" [(ngModel)]="address" name="taskLocation"></ion-input>
        <button ion-button clear item-end (click)="getLocation()">
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-item>

      <ion-item>
        <ion-label fixed ngDefaultControl>Add Note</ion-label>
        <ion-input type="text" name="taskNote" [(ngModel)]="taskNote"></ion-input>
      </ion-item>
    
    </ion-list> 

  <button ion-button block type="submit" (click)="addTasktoUser()" [navPush]="taskPage">Save</button>
</ion-content>
