<!--
  Generated template for the GroupTaskViewUpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Task: {{grTsk.taskTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div text-center>
    <h2>Task Info:</h2>
    <p>Title: {{grTsk.taskTitle}}</p>
    <p>Reminder: {{grTsk.taskReminder}}</p>
    <p>Date: {{grTsk.taskDate}}</p>
    <p>Start Time: {{grTsk.taskStartTime}}</p>
    <p>End Time: {{grTsk.taskEndTime}}</p>
    <p>Note: {{grTsk.taskNote}}</p>
    <p>Location: {{grTsk.taskLocation}}</p>
  </div>
  <br>
  <div text-center>
    <h2>Update Task:</h2>
  </div>
  <form (ngSubmit)="updateTask()">
    <ion-item>
      <ion-label>Title:</ion-label>
      <ion-input type="text" required [(ngModel)]="tTitle" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Reminder:</ion-label>
      <ion-input type="text" required [(ngModel)]="tReminder" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" required [(ngModel)]="tDate" [ngModelOptions]="{standalone: true}"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Start Time:</ion-label>
      <ion-datetime displayFormat="h:mm A" required pickerFormat="h mm A" [(ngModel)]="tStartTime" [ngModelOptions]="{standalone: true}"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Time:</ion-label>
      <ion-datetime displayFormat="h:mm A" required pickerFormat="h mm A" [(ngModel)]="tEndTime" [ngModelOptions]="{standalone: true}"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Note:</ion-label>
      <ion-input type="text" required [(ngModel)]="tNote" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Location:</ion-label>
      <ion-icon ios="ios-map" md="md-map" item-end (click)="openGroupMap()"></ion-icon>
      <ion-input type="text" required [(ngModel)]="tLocation" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <button ion-button block type="submit">Update</button>
  </form>
</ion-content>
